---
layout: page
title: Portafolio
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Todo
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.portafolio %}
        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for tag in item.tags %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ tag }}&quot;{% endfor %}]">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.baseurl }}/assets/images/portfolio{{ item.image }}" alt="img" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <p>{{ item.tags }}</p>
                <a class="btn btn-light btn-sm" href="{{ item.url }}">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->

      