<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
      
      <div class="col-lg-10 mx-auto text-center">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0t6lbIwArPk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</section>
<!-- /about -->