<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Correo</h5>
          {% assign email = site.data.settings.contact-email | split: '@' %}
          <p class="text-white paragraph-lg font-secondary"><a href="javascript:window.open('mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))">{{ site.data.settings.email }}</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Teléfono</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Visítanos</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©
      <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>
      <!-- a theme by <a href="https://themefisher.com/">themefisher.com</a> -->
    </p> 
  </div>
</footer>
<!-- /footer -->