---
layout: default
---
<!-- page title -->
<section class="page-title bg-primary position-relative" style="padding-top:0px;">
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">{{ page.title | escape }}</h3>
        <p class="font-secondary">Publicado: {{ page.date | date: '%b %d, %Y' }} por <span class="text-primary">{{ page.author }}</span
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>